# Root Dependencies
/node_modules/
/.pnp/
/.pnp.js

# Frontend Dependencies
/frontend/node_modules/

# Testing
/coverage/

# Production
/build/
/dist/

# Misc
.DS_Store
.env
.env..local
npm-debug.log
yarn-debug.log*
yarn-error.log*

# Local env files
.env.local
.env.development.local
.env.test.local
.env.production.local